body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.baner {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 40px;
    height: 40px;


}

h1 {
    color: black;
    font-size: 1.8em;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}


.button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding-top: 80px;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.back-button {
    background-color: white;
    color: #255c13;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    margin-right: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #f0f0f0;
    color: #1a3d0c;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
}

form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}


.content h1 {
    color: #1e3d58;
    font-size: 1.8em;
    margin-bottom: 20px;
}

form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}


form textarea:focus {
    outline: none;
    border-color: #4CAF50;

}

h2 {
    color: #2e3a47;
    text-align: center;
    margin-top: 100px;
    /* Zapewnia, że nagłówek nie będzie przykryty przez baner */
    font-size: 2em;
    margin-bottom: 30px;
}

/* Styl formularza */
.sales-report-form {
    background-color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sales-report-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
    font-weight: bold;
}

.sales-report-form input[type="month"] {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.sales-report-form input[type="month"]:focus {
    border-color: #4CAF50;
    outline: none;
    background-color: #ffffff;
}

/* Styl przycisku */
.sales-report-form button {
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sales-report-form button:hover {
    background-color: #45a049;
}

/* Styl tabeli */
table {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    /* Tabela jest domyślnie ukryta */
}

table th,
table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

table td {
    background-color: #ffffff;
    color: #555;
}

table tr:nth-child(even) td {
    background-color: #f9f9f9;
}

table tr:hover td {
    background-color: #f1f1f1;
}